/* removing default padding from col-md-6 class */
/* .col-md-6{
  padding: 0 !important;
} */

/* color for about section and footer */
.about-container, .footer-background{
  background: #00264a;
}

/* card  */
.my-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.my-container img {
  transform: scale(0.9, 0.9);
  max-width: 500px;
  margin: 0 auto;
}

.my-container .card {
  flex: 1 1 200px;
}

/* footer links */

.text-hover, section .text-warning{
  opacity: .9 !important; 
}
.text-reset:hover, section .text-warning{
  opacity: 1 !important;
  cursor: pointer !important;
}
